<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Information</title>
</head>
<body>
    <h1>Student Information</h1>
    <table border="1px solid black">
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Roll Number</th>
        <th>Subject</th>
        <th>Mark</th>
      </tr>
      {% for item in result %}
          <tr>
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
            <td>{{item.roll}}</td>
            <td>{{item.subject}}</td>
            <td>{{item.mark}}</td>
          </tr>
      {% endfor %}
    </table>
</body>
</html>