<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Information</title>
</head>
<body>
    <h1>{{item.name}} Information</h1>
    <table border="1px solid black">
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Roll Number</th>
        <th>Subject</th>
        <th>Mark</th>
      </tr>
      <tr>
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
        <td>{{item.roll}}</td>
        <td>{{item.subject}}</td>
        <td>{{item.mark}}</td>
      </tr>
    </table>
    <br>
    <a href="/student">Back to Homepage</a>
</body>
</html>